In [1]:
import pandas as pd 
import numpy as np

import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics

In [11]:
df = pd.read_csv('heart_dataset.csv')
print(df.value_counts(['HeartDisease'])/len(df))
print(df.value_counts(['HeartDisease']))

HeartDisease
No              0.914405
Yes             0.085595
dtype: float64
HeartDisease
No              292422
Yes              27373
dtype: int64

In [3]:
df.describe().T.style.set_properties(**{'background-color': 'grey','color': 'white','border-color': 'white'})